body {
   background-color: white;
   margin: 0px;
}

main{
   margin: 20px;
}

h1{
   text-align: center;
   color: #8B0000;
}

.navbar ul{
   list-style-type: none;
   background-color: #A6AAB3;
   padding: 0px;
   margin: 0px;
   overflow: hidden;
}

.navbar a{
   color: #8B0000;
   text-decoration: none;
   padding: 15px;
   display: block;
   text-align: center;
}
.navbar a:hover{
   background-color: #8B0000;
   color: #A6AAB3
}
.navbar li{
   float: left;
}