* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

article {
    margin-left: 25%;
    padding: 1px 16px;
    height: 678px;
    font-family: 'Times New Roman', Times, serif;
}

 .navbar {
    box-sizing: border-box;
    width: 100%;
 }
 
 .navbar ul{
    list-style-type: none;
    background-color: #A6AAB3;
    padding: 0px;
    margin: 0px;
    width: 25%;
    overflow: hidden;
    position: fixed;
    height: 100%;
    overflow: auto;
 }
 
 .navbar a{
    color: #8B0000;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    transition: background-color 0.8s;  <!-- Extra toevoeging buiten de basiseisen. --!>
 }
 .navbar a:hover:not(.active){
    background-color: #8B0000;
    color: #A6AAB3;
 }

 .navbar a:active{
    background-color: #8B0000;
    color: #FFFFFF;
 }

 
 header {
    width: 25%;
    background-color: black;
 }
 
 footer {
    background-color: #f2f2f2;
    color: #8B0000;
    text-align: center;
    padding: 14px;
    left: 0;
    bottom: 1px;
    width: 100%;
    position: fixed;
 }
 
 footer a {
    color: #C80815; 
    text-decoration: underline; 
   }
 
 footer a:hover {
    color: #8B0000; 
 }